@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-netflix-black text-white overflow-x-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background-color: #141414;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.parallax-wrapper {
  perspective: 10px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax-bg {
  transform: translateZ(-10px) scale(2);
}
